# =============================================================
#  Dependências da App (biblioteca + Streamlit + Neo4j)
# =============================================================

# Interface visual
streamlit==1.35.0

# Driver oficial do Neo4j para Python
neo4j==5.19.0

# Álgebra auxiliar para PageRank e métricas (não substitui o TAD!)
numpy==1.26.4

# Visualização dos grafos na interface
pyvis==0.3.2

# Variáveis de ambiente
python-dotenv==1.0.1

# Validação do contrato JSON
pydantic==2.6.4

# Exportação GEPHI (formato GraphML / GEXF)
lxml==5.2.1